<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>maz-med</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../resources/css/standardStyle.css">
    <link rel="stylesheet" href="../resources/css/navbarStyle.css">
    <link rel="stylesheet" href="../resources/css/mainInformationStyle.css">
    <!--    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="../resources/css/newsSliderStyle.css">
    <link rel="stylesheet" href="../resources/css/cardServicesStyle.css">
    <link rel="stylesheet" href="../resources/css/questionsStyle.css">
    <link rel="stylesheet" href="../resources/css/reviewsStyle.css">
    <link rel="stylesheet" href="../resources/css/footerStyle.css">

</head>
<body>
<header>
    <div class="companyBar">
        <!--        <a href="#" class="logo">Медико-санитарная часть</a>-->

        <div id="companyLogo">
            <img src="../resources/img/mazLogo.png" alt="">
        </div>

    </div>

    <input type="checkbox" id="menu-bar">
    <label for="menu-bar">
<!--        <span id="menuicon" class="material-symbols-outlined">-->
            <img src="../resources/img/menu-burger.svg">
<!--        </span>-->
    </label>


    <nav class="navbar">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="">Услуги</a></li>

            <li><a href="#" id="hizmetler-link">О
                <span class="material-symbols-outlined arrow">нас</span></a>

                <ul id="hizmetmenu">
                    <li><a href="">Руководство</a></li>
                    <li><a href="">Врачи</a></li>
                    <li><a href="">История</a></li>
                    <li><a href="">Галерея</a></li>
                    <li><a href="">ЗОЖ</a></li>
                    <!--                    <li><a href="" id="eticaret">E-Ticaret<span id="msoe" class="material-symbols-outlined ticspan">chevron_right</span></a>-->
                    <!--                        <ul id="eticaretMenu">-->
                    <!--                            <li><a href="">Kişisel</a></li>-->
                    <!--                            <li><a href="">Kurumsal</a></li>-->
                    <!--                        </ul>-->
                    <!--                    </li>-->
                    <!--                    <li><a href="">Hosting</a></li>-->
                </ul>
            </li>
            <li><a id="projelerLink" href=""><span
                    class="material-symbols-outlined arrow">Вакансии</span></a>

                <ul id="projemenu">
                    <li><a href="">Sosyal Medya Analiz Aracı</a></li>
                    <li><a href="">Rezervasyon ve Randevu Sistemi</a></li>
                    <li><a href="">E-Ticaret Sitesi</a></li>
                    <li><a href="">Eğitim Platformu</a></li>
                </ul>

            </li>
            <li><a href="">Новости</a></li>
            <li><a href="">Контакты</a></li>

        </ul>
    </nav>
</header>
<main>
    <div class="info-container">
        <div class="main-info-container">
            <div class="main-info-text">
                <div class="main-info-text-title">
                    Медико-санитарная часть<br>
                    Минского автомобильного завода
                </div>
                <div class="main-info-text-count-container">
                    <div class="main-info-text-count">
                        > 50 000
                    </div>
                    <div class="main-info-text-count-text">
                        положительных отзывов от пациентов
                    </div>
                </div>

            </div>
            <div class="main-info-cards">
                <div class="info-card1 info-card">
                    <div class="main-info-card-title">ВРЕМЯ РАБОТЫ</div>
                    <div class="main-info-card-content">
                        <p>ПОНЕДЕЛЬНИК - ПЯТНИЦА</p>
                        <p>МЕДСАНЧАСТЬ 8:00 - 18:00</p>
                        <p>СТОЛ СПРАВОК 7:00 - 18:00</p>
                        <p>ЛАБОРАТОРИЯ 7:30 - 17:00</p>
                    </div>
                </div>
                <div class="info-card2 info-card">
                    <div class="main-info-card-title">ТЕЛЕФОНЫ</div>
                    <div class="main-info-card-content">
                        <p>СТОЛ СПРАВОК 1 - 217-99-73</p>
                        <p>СТОЛ СПРАВОК 2 - 217-98-43</p>
                        <p>КАССА - 217-23-62</p>
                        <p>ПРИЁМНАЯ - 217-99-75</p>
                        <p>ОТДЕЛ КАДРОВ - 217-20-56</p>
                        <p>ГОРЯЧАЯ ЛИНИЯ - 217-22-41</p>
                    </div>
                </div>
                <div class="info-card3 info-card">
                    <div class="main-info-card-title">КОНТАКТЫ</div>
                    <div class="main-info-card-content">
                        <p>АДРЕС: 220021 Г. МИНСК, УЛ. СОЦИАЛИСТИЧЕСКАЯ 10</p>
                        <p>ЭЛЕКТРОННАЯ ПОЧТА: meddep1@maz.by</p>
                    </div>
                </div>
                <div class="info-card4"></div>
            </div>
        </div>
    </div>
    <div class="card-services-container">
        <div class="title-section white-container">
            Информация
        </div>
        <div class="cards-services">
            <div class="card-services1 service-card">
                <img class="card-services-img" src="../resources/img/services/car-rear2.png">
                <div class="card-services-title">
                    Водительская комиссия
                </div>
            </div>
            <div class="card-services2 service-card">
                <img class="card-services-img" src="../resources/img/services/budget-alt.png">
                <div class="card-services-title">
                    Платные услуги
                </div>
            </div>
            <div class="card-services3 service-card">
                <img class="card-services-img" src="../resources/img/services/memo-circle-check.png">
                <div class="card-services-title">
                    Выписка из амбулаторной карты
                </div>
            </div>
            <div class="card-services4 service-card">
                <img class="card-services-img" src="../resources/img/services/compliance-document.png">
                <div class="card-services-title">
                    Медицинское заключение на право владения оружием
                </div>
            </div>
            <div class="card-services5 service-card">
                <img class="card-services-img" src="../resources/img/services/display-medical.png">
                <div class="card-services-title">
                    Новый график работы кабинета КТ
                </div>
            </div>
            <div class="card-services6 service-card">
                <div class="other-button">
                    <a href="#">ДРУГОЕ</a>
                </div>
                <img class="card-services-img-other" src="../resources/img/services/angle-circle-right.png">
            </div>
        </div>
    </div>
    <div class="news-container">
        <div class="news-title">
            <div class="title-section black-container">
                Новости
            </div>
        </div>
        <div class="item-bg"></div>
        <div class="wrapper">
            <div class="news-slider">
                <div class="news-slider__wrp swiper-wrapper">
                    <div class="news-slider__item swiper-slide">
                        <a href="#" class="news__item">
                            <div class="news-date">
                                <span class="news-date__title">29</span>
                                <span class="news-date__txt">Февраля</span>
                            </div>
                            <div class="news__title">
                                ЗАЩИТИ СЕБЯ ОТ НАРКОТИКОВ!
                            </div>

                            <p class="news__txt">
                                О вреде наркомании знают все. Но почему же всё-таки каждый год так много молодых людей
                                начинают
                                употреблять наркотики?
                            </p>

                            <div class="news__img">
                                <img src="../resources/img/img_1.png"
                                     alt="news">
                            </div>
                        </a>
                    </div>

                    <div class="news-slider__item swiper-slide">
                        <a href="#" class="news__item">
                            <div class="news-date">
                                <span class="news-date__title">29</span>
                                <span class="news-date__txt">Февраля</span>
                            </div>
                            <div class="news__title">
                                ЗАЩИТИ СЕБЯ ОТ НАРКОТИКОВ!
                            </div>

                            <p class="news__txt">
                                О вреде наркомании знают все. Но почему же всё-таки каждый год так много молодых людей
                                начинают
                                употреблять наркотики?
                            </p>

                            <div class="news__img">
                                <img src="../resources/img/img_1.png"
                                     alt="news">
                            </div>
                        </a>
                    </div>

                    <div class="news-slider__item swiper-slide">
                        <a href="#" class="news__item">
                            <div class="news-date">
                                <span class="news-date__title">29</span>
                                <span class="news-date__txt">Февраля</span>
                            </div>
                            <div class="news__title">
                                ЗАЩИТИ СЕБЯ ОТ НАРКОТИКОВ!
                            </div>

                            <p class="news__txt">
                                О вреде наркомании знают все. Но почему же всё-таки каждый год так много молодых людей
                                начинают
                                употреблять наркотики?
                            </p>

                            <div class="news__img">
                                <img src="../resources/img/img_1.png"
                                     alt="news">
                            </div>
                        </a>
                    </div>

                    <div class="news-slider__item swiper-slide">
                        <a href="#" class="news__item">
                            <div class="news-date">
                                <span class="news-date__title">29</span>
                                <span class="news-date__txt">Февраля</span>
                            </div>
                            <div class="news__title">
                                ЗАЩИТИ СЕБЯ ОТ НАРКОТИКОВ!
                            </div>

                            <p class="news__txt">
                                О вреде наркомании знают все. Но почему же всё-таки каждый год так много молодых людей
                                начинают
                                употреблять наркотики?
                            </p>

                            <div class="news__img">
                                <img src="../resources/img/img_1.png"
                                     alt="news">
                            </div>
                        </a>
                    </div>

                    <div class="news-slider__item swiper-slide">
                        <a href="#" class="news__item">
                            <div class="news-date">
                                <span class="news-date__title">29</span>
                                <span class="news-date__txt">Февраля</span>
                            </div>
                            <div class="news__title">
                                ЗАЩИТИ СЕБЯ ОТ НАРКОТИКОВ!
                            </div>

                            <p class="news__txt">
                                О вреде наркомании знают все. Но почему же всё-таки каждый год так много молодых людей
                                начинают
                                употреблять наркотики?
                            </p>

                            <div class="news__img">
                                <img src="../resources/img/img_1.png"
                                     alt="news">
                            </div>
                        </a>
                    </div>

                    <div class="news-slider__item swiper-slide">
                        <a href="#" class="news__item">
                            <div class="news-date">
                                <span class="news-date__title">29</span>
                                <span class="news-date__txt">Февраля</span>
                            </div>
                            <div class="news__title">
                                ЗАЩИТИ СЕБЯ ОТ НАРКОТИКОВ!
                            </div>

                            <p class="news__txt">
                                О вреде наркомании знают все. Но почему же всё-таки каждый год так много молодых людей
                                начинают
                                употреблять наркотики?
                            </p>

                            <div class="news__img">
                                <img src="../resources/img/img_1.png"
                                     alt="news">
                            </div>
                        </a>
                    </div>
                </div>

                <div class="news-slider__ctr">

                    <div class="news-slider__arrows">
                        <button class="news-slider__arrow news-slider-prev">
          <span class="icon-font">
            <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
          </span>
                        </button>
                        <button class="news-slider__arrow news-slider-next">
          <span class="icon-font">
            <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
          </span>
                        </button>
                    </div>

                    <div class="news-slider__pagination"></div>

                </div>

            </div>

        </div>
        <svg hidden="hidden">
            <defs>
                <symbol id="icon-arrow-left" viewBox="0 0 32 32">
                    <title>arrow-left</title>
                    <path d="M0.704 17.696l9.856 9.856c0.896 0.896 2.432 0.896 3.328 0s0.896-2.432 0-3.328l-5.792-5.856h21.568c1.312 0 2.368-1.056 2.368-2.368s-1.056-2.368-2.368-2.368h-21.568l5.824-5.824c0.896-0.896 0.896-2.432 0-3.328-0.48-0.48-1.088-0.704-1.696-0.704s-1.216 0.224-1.696 0.704l-9.824 9.824c-0.448 0.448-0.704 1.056-0.704 1.696s0.224 1.248 0.704 1.696z"></path>
                </symbol>
                <symbol id="icon-arrow-right" viewBox="0 0 32 32">
                    <title>arrow-right</title>
                    <path d="M31.296 14.336l-9.888-9.888c-0.896-0.896-2.432-0.896-3.328 0s-0.896 2.432 0 3.328l5.824 5.856h-21.536c-1.312 0-2.368 1.056-2.368 2.368s1.056 2.368 2.368 2.368h21.568l-5.856 5.824c-0.896 0.896-0.896 2.432 0 3.328 0.48 0.48 1.088 0.704 1.696 0.704s1.216-0.224 1.696-0.704l9.824-9.824c0.448-0.448 0.704-1.056 0.704-1.696s-0.224-1.248-0.704-1.664z"></path>
                </symbol>
            </defs>
        </svg>
    </div>
    <div class="card-services-container">
        <div class="title-section white-container">
            Наши услуги
        </div>
        <div class="cards-services">
            <div class="card-services1 service-card">
                <img class="card-services-img" src="../resources/img/services/car-rear.png">
                <div class="card-services-title">
                    Водительская комиссия
                </div>
            </div>
            <div class="card-services2 service-card">
                <img class="card-services-img" src="../resources/img/services/pulse.png">
                <div class="card-services-title">
                    Диагностика
                </div>
            </div>
            <div class="card-services3 service-card">
                <img class="card-services-img" src="../resources/img/services/eye.png">
                <div class="card-services-title">
                    Офтальмология
                </div>
            </div>
            <div class="card-services4 service-card">
                <img class="card-services-img" src="../resources/img/services/tooth.png">
                <div class="card-services-title">
                    Стоматология
                </div>
            </div>
            <div class="card-services5 service-card">
                <img class="card-services-img" src="../resources/img/services/user-nurse.png">
                <div class="card-services-title">
                    Хирургия
                </div>
            </div>
            <div class="card-services6 service-card">
                <div class="other-button">
                    <a href="#">ВСЕ УСЛУГИ</a>
                </div>
                <img class="card-services-img-other" src="../resources/img/services/angle-circle-right.png">
            </div>
        </div>
    </div>

    <div class="questions-container">
        <div class="questions-content">
            <div class="title-section black-container">
                Вопрос/Ответ
            </div>
            <div class="questions-content-accordion">
                <button class="accordion">Можно ли записаться на медицинское освидетельствование?</button>
                <div class="panel">
                    <p>Да, можно. На сайте есть отдельный раздел. Ознакомьтесь с ценами и отправьте заявку через форму
                        на сайте</p>
                </div>

                <button class="accordion">Как получить выписку из амбулаторной карты?</button>
                <div class="panel">
                    <p>Получить выписку из амбулаторной карты можно заполнив заявку через форму на сайте.
                        Выписка из медицинских документов готовится в течение 5-ти дней с момента поступления
                        электронного заявления на сайт учреждения. После получения по указанной электронной
                        почте подтверждения о готовности документа обращаться лично в доврачебный кабинет №217.
                        Выписка выдается строго по предъявлению документа, удостоверяющего личность.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="reviews-container">
        <div class="container">
            <div class="hero_section">
                <div class="cards_box swiper">
                    <div class="cards">
                        <div class="swiper-wrapper">
                            <section class="card_details swiper-slide">
                                <div class="card_img_box">
                                    <img src="../resources/img/mazLogo.png" class="card_img">
                                </div>
                                <div class="card_data">
                                    <h3 class="card_name">Светлана</h3>
                                    <p class="card_description">
                                        Обратилась к неврологу, получила нужную мне консультацию. Также была у
                                        терапевта. К персоналу никаких
                                        вопросов.
                                    </p>
                                    <a href="#" class="card_button">Читать</a>
                                </div>
                            </section>
                            <section class="card_details swiper-slide">
                                <div class="card_img_box">
                                    <img src="../resources/img/mazLogo.png" class="card_img">
                                </div>
                                <div class="card_data">
                                    <h3 class="card_name">Анатолий Аркадьевич</h3>
                                    <p class="card_description">
                                        Нужно было сделать компьютерную томографию. Заказал талон, приехал в назначенное
                                        время и сделал. Остался доволен работой.
                                    </p>
                                    <a href="#" class="card_button">Читать</a>
                                </div>
                            </section>
                            <section class="card_details swiper-slide">
                                <div class="card_img_box">
                                    <img src="../resources/img/mazLogo.png" class="card_img">
                                </div>
                                <div class="card_data">
                                    <h3 class="card_name">Анна</h3>
                                    <p class="card_description">
                                        Проходила водительскую комиссию. Быстро прошла врачей и получила свою справку.
                                        Всё сделали качественно.
                                        Всем довольна
                                    </p>
                                    <a href="#" class="card_button">Читать</a>
                                </div>
                            </section>
                            <section class="card_details swiper-slide">
                                <div class="card_img_box">
                                    <img src="../resources/img/mazLogo.png" class="card_img">
                                </div>
                                <div class="card_data">
                                    <h3 class="card_name">Василий</h3>
                                    <p class="card_description">
                                        Ставили пломбу в данной медсанчасти. Стоматолог хороший специалист. Всё сделал
                                        качественно, думаю пломба
                                        простоит долго.
                                    </p>
                                    <a href="#" class="card_button">Читать</a>
                                </div>
                            </section>
                            <section class="card_details swiper-slide">
                                <div class="card_img_box">
                                    <img src="../resources/img/mazLogo.png" class="card_img">
                                </div>
                                <div class="card_data">
                                    <h3 class="card_name">Светлана</h3>
                                    <p class="card_description">
                                        Обратилась к неврологу, получила нужную мне консультацию. Также была у
                                        терапевта. К персоналу никаких
                                        вопросов.
                                    </p>
                                    <a href="#" class="card_button">Читать</a>
                                </div>
                            </section>
                            <section class="card_details swiper-slide">
                                <div class="card_img_box">
                                    <img src="../resources/img/mazLogo.png" class="card_img">
                                </div>
                                <div class="card_data">
                                    <h3 class="card_name">Анатолий Аркадьевич</h3>
                                    <p class="card_description">
                                        Нужно было сделать компьютерную томографию. Заказал талон, приехал в назначенное
                                        время и сделал. Остался доволен работой.
                                    </p>
                                    <a href="#" class="card_button">Читать</a>
                                </div>
                            </section>
                            <section class="card_details swiper-slide">
                                <div class="card_img_box">
                                    <img src="../resources/img/mazLogo.png" class="card_img">
                                </div>
                                <div class="card_data">
                                    <h3 class="card_name">Анна</h3>
                                    <p class="card_description">
                                        Проходила водительскую комиссию. Быстро прошла врачей и получила свою справку.
                                        Всё сделали качественно.
                                        Всем довольна
                                    </p>
                                    <a href="#" class="card_button">Читать</a>
                                </div>
                            </section>
                            <section class="card_details swiper-slide">
                                <div class="card_img_box">
                                    <img src="../resources/img/mazLogo.png" class="card_img">
                                </div>
                                <div class="card_data">
                                    <h3 class="card_name">Василий</h3>
                                    <p class="card_description">
                                        Ставили пломбу в данной медсанчасти. Стоматолог хороший специалист. Всё сделал
                                        качественно, думаю пломба
                                        простоит долго.
                                    </p>
                                    <a href="#" class="card_button">Читать</a>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="swiper-button-next">
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="fa-solid fa-angle-left"></i>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <section id="footer">
        <div class="main-footer">
            <div class="logoinfo" data-aos="fade-up">
                <h2>Контакты</h2>
                <p>Медико-санитарная часть <br>Минского автомобильного завода</p>
                <div class="contact-details">
                    <ul>
                        <li>
                            <div class="fa"></div>
                            <a href="#">Адрес: 220021 г. Минск,<br> ул. Социалистическая 10</a>
                        </li>
                        <li>
                            <div class="fa"></div>
                            <a href="mailto:arorahemant75@gmail.com">Электронная почта: meddep1@maz.by</a>
                        </li>
                        <li>
                            <div class="fa"></div>
                            <a href="mailto:arorahemant75@gmail.com">+375 (17) 217-99-73</a>
                        </li>
                        <li>
                            <div class="fa"></div>
                            <a href="mailto:arorahemant75@gmail.com">+375 (17) 217-98-43</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="com" data-aos="fade-up">
                <h1>Пациенту</h1>
                <ul>
                    <li><a href="#">Платные услуги</a></li>
                    <li><a href="#">Врачи</a></li>
                    <li><a href="#">Вакансии</a></li>
                    <li><a href="#">Руководство</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">Обращение граждан</a></li>
                </ul>
            </div>
            <div class="info" data-aos="fade-up">
                <h1>Время работы</h1>
                <div class="sociallogos">
                    <div class="logobox">
                        <div class="fa">Понедельник - Пятница</div>
                        <br>
                        <div class="fa">Медсанчасть - 8:00 - 18:00</div>
                        <br>
                        <div class="fa">Стол справок - 7:00 - 18:00</div>
                        <br>
                        <div class="fa">Лаборатория - 7:30 - 17:00</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="author-footer">&copy; Милько Вадим 2024 Все права защищены</div>
    </section>
</footer>


<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="../resources/js/newsSliderScript.js"></script>
<script src="../resources/js/navbarScript.js"></script>
<script src="../resources/js/accordion.js"></script>
<script src="../resources/js/reviews.js"></script>
</body>
</html>